name: docker hub CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cd-heroku:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.6.8
        with:
          heroku_api_key: ${{secrets.HEROKU_KEY}}
          heroku_app_name: "emadarmiti"
          heroku_email: "emadarmiti@gmail.com"
          usedocker: 1
          dontuseforce: 1
